<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
        <link rel="stylesheet" type="text/css" href="/assets/index.css">
        <script src="/scripts/js/main.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div class="container">

            <div class="header">
                <div class="title">
                    <h1>Mixiffects</h1>
                </div>
            </div>

            <div class="recent">
                <h2>Recent uploads</h2>
                <% data.forEach(function (sound) { %>
                    <p><%= sound.name %></p>
                    <audio controls>
                        <source src="<%= sound.location %>" type="audio/wav"/>
        
                      </audio>
        
                    <p>Made by <%= sound.user %></p>
                    <br><br>
                <% }) %>
            </div>

            <div class="upload">
                <button onclick="window.location.href='/upload'"><h2>Upload</h2></button>
            </div>

            <div class="friends">
                <h2>Friends</h2>
                <p>Coming soon...</p>
            </div>

        </div>






        <!-- <h1>hello world</h1>  S채ger 'hej' till v채rlden.(P책 engelska spr책ket.) -->



    </body>
</html>