<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
        <script src="../public/scripts/main.js"></script>
        <title>Document</title>
    </head>
    <body>
        <h1>hello world</h1> <!-- S채ger 'hej' till v채rlden.(P책 engelska spr책ket.) -->
    </body>
</html>