*{
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
body {
    background-color: #272D2D;
    color: white;
    font-family: 'Roboto Mono', monospace;
}